In [1]:
from EstimatorModel.estim import CompositeDTEstimator

In [1]:
import pandas as pd 
import numpy as np
import glob
import matplotlib.pyplot as plt

# The dataset containing samples from all the orders (testplan groups)
df = pd.concat([pd.read_csv(f, delimiter=',') for f in glob.glob('/home/lhadhazy/Desktop/Conti/results/yresults_*.txt')],  ignore_index = True)

In [2]:
# select only attributes (columns) that do not have any null values in them
dfnan=df.dropna(axis='columns')

#check size of dataset
print(dfnan.shape)

#check that positive samples are all contained in dataset
dfnan.loc[df['class_label'] == 1]

(5492, 2363)

,UNIT,C_ER100_SN:ER110_USK:$#0003_VALUE,C_ER100_SN:ER110_USK:$#0004_VALUE,C_ER100_SN:ER110_USK:$#0005_VALUE,C_ER100_SN:ER110_USK:$#0006_VALUE,C_ER100_SN:ER110_USK:$#0007_VALUE,C_ER100_SN:ER110_USK:$#0009_VALUE,C_ER100_SN:ER110_USK:$#000A_VALUE,C_ER100_SN:ER110_USK:$#000B_VALUE,C_ER100_SN:ER110_USK:$#000C_VALUE,...,C_ER100_FIN_SN:RFT:9_1_VALUE,C_ER100_FIN_SN:RFT:9_2_VALUE,C_ER100_FIN_SN:RFT:9_3_VALUE,C_ER100_FIN_SN:RFT:9_4_VALUE,C_ER100_FIN_SN:RFT:9_5_VALUE,C_ER100_FIN_SN:RFT:9_6_VALUE,C_ER100_FIN_SN:RFT:9_7_VALUE,C_ER100_FIN_SN:RFT:9_8_VALUE,C_ER100_FIN_SN:RFT:9_9_VALUE,class_label
37,2851573606300006183190002A,1,1,1,1,1,2,2,2,2,...,1,1,1,1,1,1,1,1,-4.64,1
269,28515736063000061831900112,1,1,1,1,1,2,2,2,2,...,1,1,1,1,1,1,1,1,-4.84,1
1621,28515736063000061832000328,1,1,1,1,1,2,2,2,2,...,1,1,1,1,1,1,1,1,-5.14,1
1855,28515736063000061832000418,1,1,1,1,1,2,2,2,2,...,1,1,1,1,1,1,1,1,-4.68,1
2718,285157360630000618703000B5,1,1,1,1,1,2,2,2,2,...,1,1,1,1,1,1,1,1,-5.00,1
3615,2851570320300006183180011A,1,1,1,1,1,2,2,2,2,...,1,1,1,1,1,1,1,1,-4.86,1
4470,28515703203000061831800476,1,1,1,1,1,2,2,2,2,...,1,1,1,1,1,1,1,1,-4.58,1
4472,28515703203000061831800478,1,1,1,1,1,2,2,2,2,...,1,1,1,1,1,1,1,1,-4.84,1

In [3]:
# X vector contains all the measurement for a unit
X = np.asarray(dfnan.iloc[:, 1:-1])    

# y vector contains the class labels for the units
y = np.asarray(dfnan.iloc[:, -1])

In [4]:
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

#Scale the feature vectors
scaler = preprocessing.StandardScaler()
X_scaled = scaler.fit_transform(X)

#scaler = preprocessing.MinMaxScaler()
#X_scaled = scaler.fit_transform(X)

#Create the (scaled/unscaled) train and test datasets
X_train_scaled, X_test_scaled, y_train, y_test = train_test_split(X_scaled, y, random_state=0)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

#Number of positive (damaged) units in the test dataset.
list(y_test).count(1)

3

In [5]:
from EstimatorModel.estim import CompositeDTEstimator

dtestimator = CompositeDTEstimator()
dtestimator.fit(X_train, y_train)

CompositeDTEstimator(estimator=None)

In [7]:
print(dtestimator.predict([X[4009]]))

[0]

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(random_state=0)
cross_val_score(model, X_train, y_train, cv=2)
model.fit(X_train, y_train)

In [7]:
from sklearn.pipeline import make_pipeline
from sklearn.naive_bayes import MultinomialNB
from sklearn.preprocessing import Binarizer
#from TransformerModel.NullColumnCleanse import NullColumnCleanse
from sklearn.base import TransformerMixin


from sklearn.base import BaseEstimator, TransformerMixin

class MyOwnTransformer(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        return X

class NullColumnCleanse(TransformerMixin):

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X.dropna(axis='columns')

mylist= ['MyOwnTransformer(),NullColumnCleanse()']
print(*mylist)
pipe=make_pipeline( MyOwnTransformer(),NullColumnCleanse(), MultinomialNB()) 
pipe.steps[0]

MyOwnTransformer(),NullColumnCleanse()

('myowntransformer', MyOwnTransformer())

In [16]:
from sklearn.base import ClassifierMixin, BaseEstimator
from sklearn.tree import DecisionTreeClassifier
from sklearn.pipeline import make_pipeline
from TransformerModel.StandardScaler import StandardScaler
from TransformerModel.ColumnSelector import ColumnSelector
from TransformerModel.NullColumnCleanse import NullColumnCleanse
from TransformerModel.LDATransformer import LDA


# Estimator decorator class
class CompositeDTEstimator1(BaseEstimator, ClassifierMixin):

    def __init__(self, estimator=DecisionTreeClassifier(random_state=0)):
        self.decorated_estimator = estimator
        self.transform_steps = [
            NullColumnCleanse(),
            StandardScaler(),
            LDA(3)
            ]

    def fit(self, X, y):
        # forging of the data pipeline steps inside the fit method
        #print(self.decorated_estimator)
        self.trained_estimator_ = make_pipeline(
            # self.transform_steps,
            self.decorated_estimator
        ).fit(X, y)

        return self

    def score(self, X, y=None):
        return(sum(self.predict(X)))

    def predict(self, X):
        return self.trained_estimator_.predict(X)

In [17]:
cs = CompositeDTEstimator1()

In [18]:
cs.fit(X_train,y_train)

CompositeDTEstimator1(estimator=None)